@charset "utf-8";

* {
	margin: 0px;
	padding: 5px;
	outline: 0px;
}

html {height: 10%}

body {
	background: url(page55.jpg) no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
}
.ab-s {
    left: -200x; z-index: 2; 
	margin: -40px;
	top: px;
}
.ab-c {
	padding: px; z-index: 1;