@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

html {height: 100%}

body {
	background: url(page55.jpg) no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; 
	font-family: "Orator Std", sans-serif;
	font-size: 1em;
	color: #FFFFFF;
   }
.nov1 {											
  opacity: 0.6; 
}
 
.nov1:hover {
  opacity: 1;
}
.nov2 {
  opacity: 0.6;
}
 
.nov2:hover {
  opacity: 1;
}
.nov3 {
  opacity: 0.6;
}
 
.nov3:hover {
  opacity: 1;
}
.nov4 {
  opacity: 0.6;
}
 
.nov4:hover {
  opacity: 1;
}
	